Insta Msg send with pic workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "insta",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1024,
        32
      ],
      "id": "9c1161e3-c2a4-4560-b338-7b415fa9ea1e",
      "name": "Webhook",
      "webhookId": "8c74c4b3-bbdd-4148-84c7-72b412b03c61"
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -240,
        96
      ],
      "id": "d7378780-a44b-4120-a366-d71c3f20cd3d",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v24.0/890971657426388/subscribed_apps",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "subscribed_fields",
              "value": "messages"
            },
            {
              "name": "access_token",
              "value": "EAAL8A9deZCCABPxmeo2rvM21XP5G7cVHJRhOToemY4qHx4Cwpo6lKGoHfrvka6afLWhvQz3ZCAoosWNYqkT65ptX1D1vZCFx7kCTUFQI35MNpZCZBNqEHh5lROCrNQK6I99DCDRc1b2xpmYvK7hY6qhlxZCKfiNkPBXuYpBEgAqAcstDHie4wZCToBRqUWWzQQXlKhyYIGI1IsvlppwZAAZBLVGl9BkZBp3zLdnZBIVQRoFH99R"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1024,
        -208
      ],
      "id": "6d84c093-40ee-41fc-b380-567809a35293",
      "name": "check subscription"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.instagram.com/v21.0/me/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer IGAAJjdG1fN5dBZAFFEaUhwcW1hVTNpZAExwa1NwUTVzTkpoeldiRzU3U2tEU2M4dDhvMUxlQ2pHWVhVcVVvVnlMNkF4M1psbU9LMlo0eUNYRVhibU8wQ2FJUU1qQnpvYjBYRjdKeTh1OVhibHhLOUMzVzdMM21Ha3hMZAk10NzlGQQZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $json.body.sender_id }}\"\n  },\n  \"message\": {\n    \"text\": \"Come,Let's Hang out\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -640,
        96
      ],
      "id": "9a856605-5ae8-479c-8abc-cdda0187307f",
      "name": "send msg"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.instagram.com/v21.0/me/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer IGAAJjdG1fN5dBZAFFEaUhwcW1hVTNpZAExwa1NwUTVzTkpoeldiRzU3U2tEU2M4dDhvMUxlQ2pHWVhVcVVvVnlMNkF4M1psbU9LMlo0eUNYRVhibU8wQ2FJUU1qQnpvYjBYRjdKeTh1OVhibHhLOUMzVzdMM21Ha3hMZAk10NzlGQQZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $json.body.sender_id }}\"\n  },\n  \"message\": {\n    \"attachment\": {\n      \"type\": \"image\",\n      \"payload\": {\n        \"url\": \"https://gizmodo.com/app/uploads/2021/12/abe357c72d7f961c01277ce83fa69413.jpg\"\n      }\n    }\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -640,
        -96
      ],
      "id": "8bcbb8be-079e-4b1d-9a88-0679e347691c",
      "name": "send msg1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.instagram.com/v21.0/me/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer IGAAJjdG1fN5dBZAFFEaUhwcW1hVTNpZAExwa1NwUTVzTkpoeldiRzU3U2tEU2M4dDhvMUxlQ2pHWVhVcVVvVnlMNkF4M1psbU9LMlo0eUNYRVhibU8wQ2FJUU1qQnpvYjBYRjdKeTh1OVhibHhLOUMzVzdMM21Ha3hMZAk10NzlGQQZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $json.body.sender_id }}\"\n  },\n  \"message\": {\n    \"attachment\": {\n      \"type\": \"image\",\n      \"payload\": {\n        \"url\": \"https://gizmodo.com/app/uploads/2021/12/abe357c72d7f961c01277ce83fa69413.jpg\"\n      }\n    }\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -448,
        -224
      ],
      "id": "7aab6be7-2c76-4644-b2df-bdd7921a2a7c",
      "name": "send msg2"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n-kznp.onrender.com",
            "user-agent": "python-requests/2.32.5",
            "content-length": "39",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "baggage": "sentry-trace_id=53b1693191124692beb837bb495c2c35,sentry-sample_rand=0.505101,sentry-environment=production,sentry-public_key=ade61558c5b222b1cdd60388200df5f4,sentry-transaction=/v1/tezdm/webhook/%7Bplatform%7D/,sentry-sample_rate=1.0,sentry-sampled=true",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "208.77.246.12",
            "cf-ipcountry": "SG",
            "cf-ray": "99b33d76380981f5-PDX",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "application/x-www-form-urlencoded",
            "render-proxy-ttl": "4",
            "rndr-id": "632f12b6-7ae9-463e",
            "sentry-trace": "53b1693191124692beb837bb495c2c35-b7b77a31a0b77988-1",
            "true-client-ip": "208.77.246.12",
            "x-forwarded-for": "208.77.246.12, 172.68.175.31, 10.23.21.14",
            "x-forwarded-proto": "https",
            "x-request-start": "1762585716302266"
          },
          "params": {},
          "query": {},
          "body": {
            "message": "hello",
            "sender_id": "726146819756619"
          },
          "webhookUrl": "https://n8n-kznp.onrender.com/webhook/insta",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "send msg",
            "type": "main",
            "index": 0
          },
          {
            "node": "send msg1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "send msg": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send msg1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d8856b2f-e82d-4b37-856d-039a557988d8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "51b831b094d5502bc4d65c160ea20c4415cc5385c2e6dc0e5dddb9777a7e7048"
  },
  "id": "pFYsowGyMjAWsZQS",
  "tags": []
}